<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/master_layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{label.login}">Login</title>
    <link rel="stylesheet" th:href="@{/css/custom/login.css}"/>
</head>
<body>
    <div layout:fragment="content">
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->
                <!-- Icon -->
                <div class="fadeIn first">
                    <img th:src="@{/images/logo.png}" id="icon" alt="User Icon" />
                </div>
                <div th:if="${param.error}" class="text text-danger">
                    <span th:text="#{label.invalid.username}">Invalid username or password or your account is not activated.</span>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">
                        <span th:text="#{label.logged.out}">You have been logged out.</span>
                    </div>
                </div>
                <!-- Login Form -->
                <form th:action="@{/login}" method="post">
                    <input type="text" id="login" class="fadeIn second" name="username" placeholder="Username">
                    <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
                    <input type="submit" class="fadeIn fourth" th:value="#{label.login}" value="Log In">
                </form>

                <div id="formFooter">
                    <span th:text="#{label.dont.have.account}">Don't have an account?</span> <a th:text="#{label.click.register}" class="underlineHover" th:href="@{/register}">Click here to register.</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>