<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Freak</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base th:href="@{/}" href="/">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{template_v2/images/logo/logo.png}">

    <link rel="stylesheet" th:href="@{template_v2/css/bootstrap.min.css}">

    <link rel="stylesheet" th:href="@{template_v2/css/core.css}">

    <link rel="stylesheet" th:href="@{template_v2/css/shortcode/shortcodes.css}">

    <link rel="stylesheet" th:href="@{template_v2/style.css}">

    <link rel="stylesheet" th:href="@{template_v2/css/responsive.css}">

    <link rel="stylesheet" th:href="@{template_v2/css/custom.css}">


    <link rel="stylesheet" th:href="@{template_v2/css/style-customizer.css}">

    <script th:src="@{template_v2/js/vendor/modernizr-2.8.3.min.js}"></script>
</head>
<body>
<div class="wrapper">
    <header th:replace="template_v2/fragments/header :: header"></header>
    <section id="page-content" class="page-wrapper">
        <div layout:fragment="content"></div>
    </section>
    <footer th:replace="template_v2/fragments/footer :: footer"></footer>
    <div id="quickview-wrapper">
        <!-- Modal -->
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-product">
                            <div class="single-product-image">
                                <div id="product-img-content">
                                    <div id="my-tab-content" class="tab-content mb-20">
                                        <div class="tab-pane b-img active" id="view1">
                                            <a class="venobox vbox-item" href="images/product/product-details/1.jpg"
                                               data-gall="gallery" title=""><img
                                                    src="images/product/product-details/1.jpg" alt=""></a>
                                        </div>
                                        <div class="tab-pane b-img" id="view2">
                                            <a class="venobox vbox-item" href="images/product/product-details/2.jpg"
                                               data-gall="gallery" title=""><img
                                                    src="images/product/product-details/2.jpg" alt=""></a>
                                        </div>
                                        <div class="tab-pane b-img" id="view3">
                                            <a class="venobox vbox-item" href="images/product/product-details/3.jpg"
                                               data-gall="gallery" title=""><img
                                                    src="images/product/product-details/3.jpg" alt=""></a>
                                        </div>
                                        <div class="tab-pane b-img" id="view4">
                                            <a class="venobox vbox-item" href="images/product/product-details/4.jpg"
                                               data-gall="gallery" title=""><img
                                                    src="images/product/product-details/4.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div id="viewproduct" class="nav nav-tabs product-view bxslider" data-tabs="tabs">
                                        <div class="pro-view b-img active"><a href="#view1" data-toggle="tab"><img
                                                src="images/product/product-details/s-1.jpg" alt=""></a></div>
                                        <div class="pro-view b-img"><a href="#view2" data-toggle="tab"><img
                                                src="images/product/product-details/s-2.jpg" alt=""></a></div>
                                        <div class="pro-view b-img"><a href="#view3" data-toggle="tab"><img
                                                src="images/product/product-details/s-3.jpg" alt=""></a></div>
                                        <div class="pro-view b-img"><a href="#view4" data-toggle="tab"><img
                                                src="images/product/product-details/s-4.jpg" alt=""></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-details-content">
                                <div class="product-content text-uppercase">
                                    <a href="product-details.html" title="Slim Shirt With Stretch">Slim Shirt With
                                        Stretch</a>
                                    <div class="rating-icon pb-20 mt-10">
                                        <i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star-half"></i>
                                        <i class="zmdi zmdi-star-half"></i>
                                    </div>
                                    <div class="product-price pb-20">
                                        <span class="new-price">£ 185.00</span>
                                        <span class="old-price">£ 200.00</span>
                                    </div>
                                </div>
                                <div class="product-view pb-20">
                                    <h4 class="product-details-tilte text-uppercase">overview</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        luptate. </p>
                                </div>
                                <div class="product-size text-uppercase pb-30">
                                    <h4 class="product-details-tilte text-uppercase pb-10">size</h4>
                                    <ul>
                                        <li><a href="#">s</a></li>
                                        <li><a href="#">m</a></li>
                                        <li><a href="#">l</a></li>
                                        <li><a href="#">xl</a></li>
                                        <li><a href="#">xxl</a></li>
                                    </ul>
                                </div>
                                <div class="product-attributes clearfix">
                                    <div class="product-color text-uppercase pb-30">
                                        <h4 class="product-details-tilte text-uppercase pb-10">color</h4>
                                        <ul>
                                            <li class="color-1"><a href="#"></a></li>
                                            <li class="color-2"><a href="#"></a></li>
                                            <li class="color-3"><a href="#"></a></li>
                                            <li class="color-4"><a href="#"></a></li>
                                        </ul>
                                    </div>
                                    <div class="pull-left" id="quantity-wanted">
                                        <h4 class="product-details-tilte text-uppercase pb-10">quantity</h4>
                                        <input type="number" value="1">
                                    </div>
                                </div>
                                <div class="product-action-shop text-center mb-30">
                                    <a href="#" title="Quick view">
                                        <i class="zmdi zmdi-eye"></i>
                                    </a>
                                    <a href="#" title="Add to cart">
                                        <i class="zmdi zmdi-shopping-cart"></i>
                                    </a>
                                    <a href="#" title="Add to Wishlist">
                                        <i class="zmdi zmdi-favorite"></i>
                                    </a>
                                </div>
                                <div class="socialsharing-product">
                                    <h4 class="product-details-tilte text-uppercase pb-10">share this on</h4>
                                    <button type="button"><i class="zmdi zmdi-facebook"></i></button>
                                    <button type="button"><i class="zmdi zmdi-instagram"></i></button>
                                    <button type="button"><i class="zmdi zmdi-rss"></i></button>
                                    <button type="button"><i class="zmdi zmdi-twitter"></i></button>
                                    <button type="button"><i class="zmdi zmdi-pinterest"></i></button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{template_v2/js/vendor/jquery-3.1.1.min.js}"></script>

<script th:src="@{template_v2/js/bootstrap.min.js}"></script>

<script th:src="@{template_v2/js/particles.js}"></script>

<script th:src="@{template_v2/js/plugins.js}"></script>

<script th:src="@{template_v2/js/main.js}"></script>
<script th:src="@{/css/vendor/sweetalert/sweetalert.min.js}"></script>
<script th:src="@{template_v2/js/custom/cart.js}"></script>
</body>
</html>