<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template_v2/fragments/master_layout}">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="billing-details-info azure-bg p-30">
                    <div class="billing-title text-uppercase mb-30">
                        <h5><strong>billing details</strong></h5>
                    </div>
                    <p class="form-row pb-20 m-0">
                        <input class="checkout-name" type="text" placeholder="Enter Your Name Here">
                    </p>
                    <p class="form-row pb-20 m-0">
                        <input class="checkout-address" type="text" placeholder="Enter Your Address Here">
                    </p>
                    <p class="form-row pb-20 m-0">
                        <input class="checkout-phone" type="text" placeholder="Enter Your Phone Here">
                    </p>
                    </p>
                    <p class="form-row m-0">
                        <textarea placeholder="Type Your Message"></textarea>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="order-info azure-bg p-30">
                    <div class="billing-title text-uppercase mb-15">
                        <h5><strong>your order</strong></h5>
                    </div>
                    <table>
                        <tbody>
                        <tr th:each="cartItem:${session.cart.getCartItem()}">
                            <th th:text="${cartItem.product.name}">Men’s Blue T-Shirt</th>
                            <td th:text="'$ ' + ${cartItem.product.price}">£86.00</td>
                        </tr>
                        <tr>
                            <th>Cart Subtotal</th>
                            <td th:text=" '$ ' + ${session.cart.getTotalPrice()}">£155.00</td>
                        </tr>
                        <tr>
                            <th>Shipping and Handing</th>
                            <td>Free shipping</td>
                        </tr>
                        <tr class="total">
                            <th>Order Total</th>
                            <td th:text=" '$ ' + ${session.cart.getTotalPrice()}">£325.00</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="billing-title text-uppercase mt-40 pb-30">
                        <h5><strong>payment method</strong></h5>
                    </div>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title text-uppercase">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Cash on delivery
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    You will have to pay with cash once you receive your products
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title text-uppercase">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        paypal
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingThree">
                                <div class="panel-body">
                                    Pay via PayPal; you can pay with your credit card if you don’t have a PayPal
                                    account.
                                    <form th:action="@{/cart/pay}" method="post">
                                        <input width="500"  height="200" type="image" th:src="@{template_v2/images/paypal.png}">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a title="Add to Cart" href="#" class="button extra-small">
                        <span>place order</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="brand-area pb-90">
        <div class="container">
            <div class="row">
                <div class="brand-list owl-carousel owl-theme" style="opacity: 1; display: block;">
                    <div class="owl-wrapper-outer">
                        <div class="owl-wrapper"
                             style="width: 4212px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);">
                            <div class="owl-item" style="width: 234px;">
                                <div class="col-md-12">
                                    <div class="single-brand text-center">
                                        <a href="#">
                                            <img src="images/brand/1.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 234px;">
                                <div class="col-md-12">
                                    <div class="single-brand text-center">
                                        <a href="#">
                                            <img src="images/brand/2.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 234px;">
                                <div class="col-md-12">
                                    <div class="single-brand text-center">
                                        <a href="#">
                                            <img src="images/brand/3.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 234px;">
                                <div class="col-md-12">
                                    <div class="single-brand text-center">
                                        <a href="#">
                                            <img src="images/brand/4.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 234px;">
                                <div class="col-md-12">
                                    <div class="single-brand text-center">
                                        <a href="#">
                                            <img src="images/brand/5.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 234px;">
                                <div class="col-md-12">
                                    <div class="single-brand text-center">
                                        <a href="#">
                                            <img src="images/brand/6.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 234px;">
                                <div class="col-md-12">
                                    <div class="single-brand text-center">
                                        <a href="#">
                                            <img src="images/brand/1.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 234px;">
                                <div class="col-md-12">
                                    <div class="single-brand text-center">
                                        <a href="#">
                                            <img src="images/brand/2.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 234px;">
                                <div class="col-md-12">
                                    <div class="single-brand text-center">
                                        <a href="#">
                                            <img src="images/brand/3.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="newsletter-area">
        <div class="container">
            <div class="row">
                <div class="newsletter-content default-bg clearfix ptb-40">
                    <div class="col-md-offset-2 col-md-3 col-sm-5">
                        <div class="newsletter-title text-white text-uppercase">
                            <h4>NewsLetter Sign-Up</h4>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-7">
                        <div class="signup-form">
                            <form class="news-form" action="#">
                                <input type="text" placeholder="Enter your email address..." class="f-form">
                                <button class="submit text-uppercase">subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>