<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template_v2/fragments/master_layout}">
<head>
    <meta charset="UTF-8">
    <title>Order Confirmation</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wishlist-content">

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>